<h1>Listing users</h1>

<table>
  <tr>
    <th><%= render 'wfw_name_heading' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <!-- This link depends on JavaScript.  I replace it with a form.
      <td><%= link_to 'Destroy', user, :method => :delete %></td>
    -->
    <td><%= render :partial => 'wfw_user_destroy', :locals => { :user => user } %></td>
  </tr>
<% end %>

</table>

<br />
<%= render 'wfw_users_list' %>
<br />

<%= link_to 'New User', new_user_path %>
